body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    background: rgba(255,255,255,0.08);
    padding: 45px 55px;
    border-radius: 18px;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    width: 350px;
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
}

.subtitle {
    opacity: 0.75;
    margin-bottom: 25px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    opacity: 0.9;
}

input {
    width: 100%;
    padding: 12px;
    background: rgba(255,255,255,0.15);
    border: none;
    border-radius: 10px;
    margin-top: 4px;
    color: white;
    outline: none;
}

input::placeholder {
    color: rgba(255,255,255,0.6);
}

.btn-primary {
    width: 100%;
    padding: 12px;
    background: #3b82f6;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-primary:hover {
    background: #2563eb;
}

/* Loader */
.loader {
    border: 4px solid rgba(255,255,255,0.2);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 15px auto;
    display: none;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.register-text {
    margin-top: 18px;
    font-size: 14px;
}
.register-text a {
    color: #60a5fa;
}
